html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'ArtifaktElement'
}

header {
    background-color: #f5f5f5;
    height: 70px;
}

header > a {
    text-decoration: none;
}

.header-logo {
    background-image:url(../images/logo_forge-2-line.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    width: 180px;
    margin: 12px;
}

.header-title {
    color: black;
    position: relative;
    left: 220px;
    top: -56px;
    text-align: center ;
    font-size: 22px;
    font-weight: bold;
    width: calc(100% - 380px);
}

main {
    height: calc(100% - 70px);
    overflow: hidden;
}

.viewer-container {
    position: relative;
    height: 100%; 
    width: 100%; 
}

/* Create icon with Font Awesome */
.my-btn {
    font-family: 'Font Awesome Free';
}
.my-btn:before{
    content: '\f02c';
}

/* Create icon with image file */
.my-btn-file{
    background:url(../images/btn.png) no-repeat;
    background-position: center;
    height: 24px;
    width: 24px;
}